[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-login = "*"
flask-uploads = "*"
flask-mail = "*"
flask-wtf = "*"
wtforms = {extras = ["email"], version = "*"}
flask-script = "*"
flask-bootstrap = "*"
python-dotenv = "*"
werkzeug = "==0.16.0"
markupsafe = "==2.0.1"
flask-migrate = "==2.7.0"
argcomplete = "==2.0.0"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
