@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}


body {
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../assets/note-bg.jpg');
    background-size: cover;
}

.nav {
    background-color: rgba(242, 125, 66, 0.8) !important;
}

.side1 {
    margin-left: 2% !important;
}

.side2 {
    margin-left: 40% !important;
}


.main-content {
    margin-top: 190px !important;
    border-radius: 51.25rem !important;
    background-color: #f27d42 !important;
}

.card1 {
    background-color: #c8eff9 !important;
}

.card2 {
    background-color: rgb(255, 255, 136)!important;
    margin: 10px !important;
}

.fa {
    margin-left: 10px !important;
}

.title {
    font-weight: 700;
}