@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.content-section {
        background: #ffffff;
        padding: 10px 20px;
        border: 1px solid #252525;
        border-radius: 3px;
        margin-bottom: 20px;
}

body {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/note-bg.jpg');
    background-size: cover;
}

.main-content {
    margin-top: 180px !important;
    border-radius: 51.25rem!important;
}

/* Footer Section Styling */
  

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .article-page-img {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .article-page-img {
        width: 60%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}