{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="col-md-6" id="taskform">
  <br><br>
  <h2 class="text-center">Add Task!</h2>
  {{wtf.quick_form(form, button_map={'submit':'outline-warning'})}}
</div>

<div class="card card_quote ">
  <div class="card-header">
    <h6>Motivation</h6>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{quote[0].q}}</p>
      <footer class="blockquote-footer text-end">Author: <cite title="Quote Author">{{quote[0].a}}</cite></footer>
    </blockquote>
  </div>
</div>

{% if tasks %}
<h3 class="text-capitalize text-center"> Items Due</h3>
<div class="container-fluid text-center">
  <div class="card-columns row d-flex justify-content-center">
  {% for task in tasks %}
    <div class="card col-2">
      <h6 class="card-title">{{task.id}}</h6>
      <div class="card-body">
        <h5 class="card-text">{{task.task}}</h5>
      </div>
      <div class="card-footer">
        <small class="text-muted">Task date:{{task.time.strftime('%d-%m-%Y')}}</small>
        <small class="text-muted">Task due date:</small>
        <br>
        <a href="{{url_for('main.reminders',task_id = task.id)}}"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
				<a href="{{url_for('main.update_task',task_id = task.id)}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
				<a href="{{url_for('main.delete_task',task_id = task.id)}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
				
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br>
	{% else %}
	  <div class="card w-90 mb-3">
			<div class="card-body">				
				<p class="card-title">No tasks have been posted yet</p>
			</div>
		</div>
  {% endif %}

{% endblock %}